system/system/product/priv-app/Velvet/Velvet.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/Settings/Settings.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/app/OppoCamera/OppoCamera.apk
vendor/etc/license.lic
vendor/etc/camera/license.lic
